html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Handlee', 'sans-serif';
  font-size: 10px;
}

body {
  color: #787878;
  line-height: 1.5;
  font-size: 14px;
}

/*overrides*/

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  font-weight: 300;
  border-left: 5px solid #009688;
  font-style: italic;
  background: #f9f9f9;
}

blockquote p {
  font-size: 1.75rem !important;
}

blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

blockquote span {
  font-weight: 400;
}

hr {
  border-color: #aaa;
  margin: 5rem 0;
}

/*google maps iframe*/

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 none;
}

/*cards*/

.row.card-row {
  padding: 2.5rem 0;
}

.card {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  padding: 3rem;
}

.word {
  font-family: 'Handlee';
  font-size: 3rem;
}

.pronunciation {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.explanation {
  font-size: 1.25rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
/*Header*/

.header {
  padding: 20px 35px;
  box-sizing: border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background: rgba(255, 255, 255, 0.96);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000000;
}

.header .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.header .header-limiter .title {
  float: left;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}

.teal {
  color: #009688;
}

.header .header-limiter .title .small {
  font-size: 1.5rem;
}

.nav-wrapper {
  margin: 0 auto;
  float: right;
  transition: all 0.25s;
  font-size: 2rem;
}

.nav-wrapper.stop-click {
  pointer-events: none;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-link.selected {
  color: #009688;
}

.slider {
  background: #009688;
  display: block;
  height: 3px;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.5, 1.125) 0.125s;
}

/*Form*/

textarea {
  resize: vertical;
  height: 250px;
}

#submit {
  font-size: 1.5rem;
}

label {
  font-weight: 100;
  font-size: 1.66rem;
}

.wrapper {
  margin-top: 80px;
  width: 100%;
}

/*Parallax*/

.module:last-child {
  margin-bottom: 0;
}

td,
.module ul,
.module p {
  font-size: 1.66rem;
}

.container > p {
  margin-bottom: 2rem;
}

.module p:last-child {
  margin-bottom: 0;
}

.module.content {
  padding: 5rem 0;
  font-family: 'Open Sans', 'sans-serif';
}

.module.parallax {
  background-position: center center;
  height: 800px;
  line-height: 800px;
}

.module.parallax .pic-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.module.parallax-1 {
  background-image: url('../img/aspen-rotated.jpeg');
}

.module.parallax-2 {
  background-image: url('../img/website-pic-cropped.jpg');
}

.module.parallax-3 {
  background-image: url('../img/website-pic.jpg');
}

.module.parallax-4 {
  background-image: url('../img/SoundwallFullResCDE-7-HikoneTrees.jpg');
}

.module.parallax-5 {
  background-image: url('../img/Green%20Succulent.jpg');
}

/*footer*/

.footer {
  background: #ddd;
  padding: 2em;
  text-align: center;
}

/*rates table*/

.well {
  padding: 2rem;
}

.rate-table {
  border-collapse: collapse;
  width: 100%;
}

/*directions*/

.title-larger {
  font-size: 1.8em;
}

.title-medium {
  font-size: 1.6em;
}

.title-smaller {
  font-size: 1.4em;
}

.title-extra {
  font-size: 1.2em;
}

/*hover pics*/

.view-first img {
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(116, 175, 173, 0.5);
  transition: all 0.25s ease-in-out;
}

.view-first .img-title {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1, 1.1);
}

.view-first a.info {
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover .img-title,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view {
  border: 10px solid #fff;
  box-shadow: 1px 1px 6px #888;
  cursor: default;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 47%;
}

.view .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
}

.view .img-title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 2em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

.view p {
  font-size: 1.25em;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.view a.info:hover {
  box-shadow: 0 0 5px #000;
  background: #74afad !important;
  color: #fff;
}

.pics {
  margin-bottom: 2.5rem;
}

@media all and (max-width: 1000px) {
  body {
    font-size: 8px;
  }
  .module.parallax .pic-title {
    font-size: 7rem;
  }
  .header .header-limiter .title {
    font-size: 2.5rem;
  }
  .nav-wrapper {
    font-size: 1.5rem;
  }
  .view {
    width: 98%;
  }
}

@media all and (max-width: 800px) {
  .header .header-limiter .title {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
  }
  .header .header-limiter .title .small {
    font-size: 1.125rem;
  }
  .nav-wrapper {
    float: none;
    font-size: 1.25rem;
  }
  .module.parallax {
    height: 400px;
    line-height: 400px;
    background-size: 150%;
  }
}

@media (min-width: 768px) {
  .module.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}

@media all and (max-width: 600px) {
  .nav-link {
    padding: 0.5rem 0.25rem;
  }
  .header {
    padding: 20px 0;
  }
  td,
  .module ul,
  .module p,
  label {
    font-size: 1.25rem;
  }
  .module.parallax .pic-title {
    font-size: 4rem;
  }
  .header .header-limiter nav li {
    padding: 0 1px;
  }
  .header .header-limiter nav li.selected {
    padding: 5px;
  }
  #map {
    height: 300px !important;
  }
  .module.parallax {
    height: 250px;
    line-height: 250px;
  }
  .card {
    margin-bottom: 1rem;
  }
}
